footer {
  background-color: color-mix(
    in srgb,
    var(--col-neutral-light),
    var(--col-black) 5%
  );
  color: var(--col-black);

  a {
    color: var(--col-black);
    &:hover {
      color: var(--col-blackaccent-orange);
      opacity: 1;
    }
  }

  .footer__logo {
    max-width: 195px;
  }

  ul.menu {
    list-style: none;
    padding-inline-start: 0;
  }
  ul.fa-ul {
    margin-left: 1.5rem;
  }

  .fa-solid,
  .fa-brands {
    color: var(--col-black);
  }

  .social-icons {
    display: inline-flex;
    gap: 0.5rem;
  }

  .colophon {
    background-color: color-mix(
      in srgb,
      var(--col-neutral-light),
      var(--col-black) 10%
    );
    font-size: var(--fs-200);
    color: #000000cc;
    a {
      opacity: 0.8;
    }
  }
}
